.admin-container,
.help-container {
  text-align: center;
  .admin-button-container {
    width: 75%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
  }
}

.help-container {
  display: block;
  height: 86%;
  position: fixed;
  overflow: auto;
  width: 100%;
  top: 55px;
  ul {
    list-style-type: none;
    li {
      font-weight: bold;
      font-size: 22px;
      padding-top: 10px;
      text-decoration: underline;
    }
  }
}

.mafia-role-modal {
  font-size: 18px;
  h1 {
    text-align: center;
  }
  .mafia-role-subheader {
    text-align: center;
    font-size: 22px;
  }
}

.mafia-container {
  text-align: center;
}

.game-over-container {
  .game-over-icon {
    width: 75%;
  }
}

.lobby-users-container,
.players-container {
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 82%;
  top: 55px;
  thead {
    position: sticky;
    top: 0px;
    background-color: $secondary-color;
    color: $primary-color;
  }
  tbody {
    color: $secondary-color;
    .lobby-users-current-user {
      color: $selected-color;
    }
  }
}

.players-container {
  top: 75px;
}
