.admin-container,
.help-container {
  text-align: center;
  .admin-button-container {
    width: 75%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
  }
}

.mafia-container {
  text-align: center;
}

.game-over-container {
  .game-over-icon {
    width: 75%;
  }
}

.lobby-users-container,
.players-container {
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 82%;
  top: 55px;
  thead {
    position: sticky;
    top: 0px;
    background-color: $secondary-color;
    color: $primary-color;
  }
  tbody {
    color: $secondary-color;
    .lobby-users-current-user {
      color: $selected-color;
    }
  }
}

.players-container {
  top: 75px;
}
