@import "./variables";

.main-container {
  display: block;
  width: 100%;
  height: 100%;
}

.header-container {
  text-align: center;
  position: sticky;
  top: 0px;
  color: $secondary-color;
  .hamburger-button-container {
    position: absolute;
    left: 10px;
    top: 10px;
    .hamburger-button {
      width: 30px;
    }
  }
  .header-text-container {
    position: relative;
    width: 75%;
    left: 10%;
    top: 8px;
    height: 45px;
    .header {
      font-size: 30px;
      font-weight: bold;
    }
    .sub-header {
      font-size: 24px;
    }
  }
}

.mafia-footer {
  display: block;
  text-align: center;
  position: absolute;
  margin: 0 0 0 0;
  bottom: 3px;
  button {
    margin: 0 0 0 15px;
  }
}

.help-container {
  top: 30px;
  position: relative;
  text-align: center;
}

.mafia-button {
  margin: 8px;
  color: $primary-color;
  background-color: $button-color;
  border:0;
  &-big {
    font-size: 30px;
  }
  &-centered {
    position: relative;
    margin-top: 45%;
  }
  &-flat {
    margin: 0px;
    height: 30px;
  }
  &-wide {
    width:120px;
  }
  &-narrow{
    width:80px;
  }
}
.btn-primary:hover, .btn-primary:active:focus {
  color: #fff;
  background-color:$secondary-color;
  border:0;
  outline: none;
  box-shadow: none;
}

.mafia-input-big {
  margin: 20% 0 0 0;
  font-size: 40px;
  width: 80%;
}

.menu-background {
  width:100vw;
  height:100vh;
  z-index:10;
}

.menu-container {
  position: absolute;
  left: 10%;
  top: 50px;
  width: 75%;
  height: 450px;
  background-color: $teriary-color; /* The navigation menu links */
  border-radius: 25px;
  opacity: 0.98;
  h1 {
    color: $primary-color;
  }
  a {
    padding: 6px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: $primary-color;
    display: block;
    border-radius: 25px;
    background: $button-color;
    width: 200px;
    height: 60px;
  }
  .menu-link-selected {
    background-color: $selected-color;
  }
}

.mafia-modal-confirm-container {
  font-size:20px;
  text-align:center;
}

.mafia-info-label {
  text-align: center;
  color: $primary-color;
  background-color: $secondary-color;
}

.admin-roles-shuffle {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin-top:10px;
  &-label {
    padding-left:10px;
    font-size: 30px;
  }  
}

.mafia-modal-close {
  position:absolute;
  right:10px;
}
