.header {
    text-align:center;
}

.admin-container {
    display : flex;
    flex-direction: row;
    flex-basis: calc(50% - 40px);  
    justify-content: center;
}

.mafia-button {
    margin:8px;    
}