@import "./variables";

.main-container {
  display: block;
  width: 100%;
  height: 100%;
}

.header-container {
  text-align: center;
  position: sticky;
  top: 0px;
  color: $secondary-color;
  .hamburger-button-container {
    position: absolute;
    left: 10px;
    top: 10px;
    .hamburger-button {
      width: 30px;
    }
  }
  .header-text-container {
    position: relative;
    width: 75%;
    left: 10%;
    top: 8px;
  }
}

.admin-container {
  text-align: center;
  .admin-button-container {
    width: 75%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
  }
}

.new-player-container {
  text-align: center;
}

.help-container {
  top: 30px;
  position: relative;
  text-align: center;
}

.mafia-button {
  margin: 8px;
  color: $primary-color;
  background-color: $button-color;
  &-big {
    font-size: 30px;
  }
  &-flat {
    margin: 0px;
    height: 30px;
  }
  &-footer {
    display: block;
    text-align: center;
    position: absolute;
    margin: 0 0 0 0;
    bottom: 3px;
    button {
      margin: 0 0 0 15px;
    }
  }
}

.mafia-input-big {
  margin: 20% 0 0 0;
  font-size: 40px;
  width: 80%;
}

.lobby-users-container,
.players-container {
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 84%;
  top: 55px;
  thead {
    position: sticky;
    top: 0px;
    background-color: $secondary-color;
    color: $primary-color;
  }
  tbody {
    color: $secondary-color;
    .lobby-users-current-user {
      color: $selected-color;
    }
  }
}

.players-container {
  top: 75px;
}

.menu-container {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 75%;
  height: 450px;
  background-color: $teriary-color; /* The navigation menu links */
  border-radius: 25px;
  opacity: 0.98;
  h1 {
    color: $primary-color;
  }
  a {
    padding: 6px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: $primary-color;
    display: block;
    border-radius: 25px;
    background: $button-color;
    width: 200px;
    height: 60px;
  }
  .menu-link-selected {
    background-color: $selected-color;
  }
}

.mafia-info-label {
  text-align: center;
  color: $primary-color;
  background-color: $secondary-color;
}
